{% extends 'main.html' %} 




{% block content %}

<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>D</span>ikgobe <span>M</span>olepo</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="#hero" data-after="Home">Home</a></li>
                    <li><a href="#projects" data-after="Projects">Projects</a></li>
                    <li><a href="#about" data-after="About">About Me</a></li>
                    <li><a href="#contact" data-after="Contact">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="hero">
    <div class="hero container">
        <div>
            <h1>Hi, <span></span></h1>
            <h1>I am <span></span></h1>
            <h1>Dikgobe Molepo <span></span></h1>
            <a href="#projects" type="button" class="cta">Portfolio</a>
        </div>
    </div>
</section>

{% endblock content %}
